@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  padding: 0;
  margin: 0; }

.icon-chevron-left:before {
  font-size: 70px;
  color: #5d9e64;
  cursor: pointer;
  position: absolute;
  left: .5%;
  z-index: 1;
  background-color: #ffffffa1;
  border-radius: 50%; }

.icon-chevron-right:before {
  font-size: 70px;
  color: #5d9e64;
  cursor: pointer;
  position: absolute;
  right: .5%;
  background-color: #ffffffa1;
  border-radius: 50%;
  z-index: 1; }

.icon-chevron-left:hover::before {
  background-color: #fff;
  transition: 00.5s; }

.icon-chevron-right:hover::before {
  background-color: #fff;
  transition: 00.5s; }

.container {
  display: flex;
  width: 100%;
  flex-direction: column; }
  .container-top {
    display: flex;
    margin: 0 auto;
    height: 65px;
    align-items: center; }
    .container-top .img-md a img {
      margin: 0 auto;
      width: 80px;
      height: 80px;
      display: none; }
    .container-top ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 75px;
      align-items: center; }
      .container-top ul li,
      .container-top ul div {
        display: flex;
        text-align: center;
        text-decoration: none;
        font-family: "Lobster", cursive;
        font-size: 20px; }
      .container-top ul li a {
        text-decoration: none;
        color: #000; }
      .container-top ul div a img {
        margin: 0 auto;
        width: 80px;
        height: 80px; }
    .container-top span {
      cursor: pointer;
      font-size: 40px;
      color: #5d9e64;
      display: none;
      justify-content: center; }
  .container-mid {
    background: url(../img/17024.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
    overflow-x: auto; }
    .container-mid-btn {
      margin: 0 auto;
      display: flex;
      position: relative;
      flex-direction: column;
      text-align: center;
      min-width: 100%;
      transition: 0.5s; }
      .container-mid-btn h1 {
        font-family: "Lobster", cursive;
        font-size: 60px;
        color: #5d9e64; }
      .container-mid-btn h2 {
        font-family: "Lobster", cursive;
        font-weight: normal;
        color: #ffff; }
      .container-mid-btn a {
        height: 43px;
        width: 91px;
        text-decoration: none;
        margin: 0 auto;
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #8ddc91bf;
        font-family: "Lobster", cursive; }
        .container-mid-btn a div {
          color: #ffff;
          font-weight: normal; }
  .container-mid::-webkit-scrollbar {
    visibility: hidden; }
  .container-product {
    display: flex;
    flex-direction: column;
    margin: 0 auto; }
    .container-product-info {
      text-align: center;
      margin-top: 65px;
      font-family: "Lobster", cursive;
      font-size: 35px; }
    .container-product-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      margin-top: 55px; }
      .container-product-list a {
        text-decoration: none; }
      .container-product-list-fruits {
        width: 20%;
        border-radius: 25px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
        border-top: solid 1px #ececec;
        border-left: solid 1px #ececec;
        padding: 10px;
        text-shadow: 2px 2px 4px #5d9e64;
        box-shadow: -10px -10px 15px #fff, 10px 10px 15px #c1c1c1, inset 0px 0px 0px #fff, inset 0px 0px 0px #c1c1c1; }
        .container-product-list-fruits img {
          height: auto;
          width: 60%; }
        .container-product-list-fruits h1 {
          font-family: "Lobster", cursive;
          color: #5d9e64;
          margin-top: 10px;
          font-size: 125%; }

@media screen and (max-width: 858px) {
  .container-top {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .container-top .img-md a img {
      display: flex;
      width: 65px;
      height: 65px; }
    .container-top ul {
      position: fixed;
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #5d9e64d0;
      z-index: 2;
      padding: 20px 0 20px 0px;
      border-radius: 0px 0px 25px 25px;
      grid-gap: 50px;
      top: -300px;
      transition: all 0.4s; }
      .container-top ul li {
        font-weight: bold; }
      .container-top ul div {
        display: none; }
    .container-top .show {
      top: 65px; }
    .container-top span {
      display: grid;
      grid-column: 3/4; }

  .fixed {
    position: fixed;
    background-color: #fff;
    transition: 0.4s;
    z-index: 3;
    border-radius: 0 0 25px 25px; }

  .container-bot-info {
    display: flex;
    flex-direction: column; } }

/*# sourceMappingURL=style.css.map */
